
.card{
    border-radius: 20px;
    padding: 50px 50px 50px; 
    height: 100%;
    width: auto;
    box-shadow: 20px 20px 50px 15px rgb(0 0 0 / 0.05);
}
.card:hover{
    box-shadow: 20px 20px 50px 15px rgb(0 0 0 / 0.1);
}

.__image{
    height: 100%;
    width: 100%;
}

.__image__{
    height: 100%;
    width: 100%;
}
.card1{
    border-radius: 20px;
    padding: 30px 30px 30px;
    margin-bottom: 10px; 
    width: auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    box-shadow: 20px 20px 50px 15px rgb(0 0 0 / 0.05);
}

